/.mixin.out
/.ReAuth.cfg
/backups
/cache
/coremods
/crafttweaker.log
/crash-reports
/local
/logs
/patchouli_books
/patchouli_data.json
/saves
/screenshots
/texturepacks
/usercache.json
/usernamecache.json
*.log
